<div class="container ">
  <div class="falling-leaves"></div>
  <!-- Banner Section -->
  <%= partial 'partials/banner' %>
  <!-- About Section -->
  <%= partial 'partials/about' %>
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Resume Section -->
  <%= partial 'partials/resumes' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
